.container-menu-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 80px;
	position: fixed;
	z-index: 999;
	background-color: #fff;
	width: 100%;
	height: 70px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.menu-bar-logo>img {
	width: 150px;
}

.menu-bar-item>ul {
	display: flex;
	align-items: flex-end;
	gap: 50px;
	list-style: none;
}

.menu-bar-item>ul>li>a {
	text-decoration: none;
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
}

.menu-bar-item>ul>li>a:hover {
	opacity: 0.8;
	font-weight: 600;
}

#botao-login {
	background-color: #0070D1;
	padding: 10px 20px;
	border-radius: 20px;
	color: #fff;
	font-weight: 600;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

a:visited {
	color: black;
}